# Python
__pycache__/
*.py[cod]
*.egg-info/

# Virtual environment
.venv/
venv/

# Environment variables
.env

# Tests / quality
.pytest_cache/
.ruff_cache/
.coverage
htmlcov/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs / temporary files
*.log
tmp/

# Airflow
airflow/logs/
airflow/airflow.db
airflow/airflow-webserver.pid

# Dataset generated locally
data/raw/*.parquet
data/processed/*.parquet

# Trained models
models/*.joblib
models/*.onnx