# Ambiente virtual
.venv/
venv/

# Python
__pycache__/
*.py[cod]
*.so

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Sistema
.DS_Store
Thumbs.db

# Logs
*.log

# Dados temporários
*.tmp

# Variáveis de ambiente
.env

# Ruff
.ruff_cache/

# MLflow
mlruns/
mlflow.db
mlflow.db-journal
models/*.pt

# Data files
data/raw/*
!data/raw/
!data/raw/.gitkeep
!data/raw/*.dvc

data/processed/*
!data/processed/
!data/processed/.gitkeep
!data/processed/*.dvc

data/features/*
!data/features/
!data/features/.gitkeep
!data/features/*.dvc

# Modelos treinados
models/*
!models/.gitkeep

# Figuras geradas
reports/figures/*
!reports/figures/.gitkeep
