# Ambiente virtual
.venv/
venv/

# Python
__pycache__/
*.py[cod]
*.so

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Sistema
.DS_Store
Thumbs.db

# Logs
*.log

# Dados temporários
*.tmp

# Variáveis de ambiente
.env

# Ruff
.ruff_cache/

# MLflow
mlruns/

# Dados
data/raw/*
!data/raw/.gitkeep

data/processed/*
!data/processed/.gitkeep

data/external/*
!data/external/.gitkeep

data/features/*
!data/features/.gitkeep

# Modelos treinados
models/*
!models/.gitkeep

# Figuras geradas
reports/figures/*
!reports/figures/.gitkeep
